PORT=3001
MONGO_URI=mongodb://127.0.0.1:27017/kafka_demo
KAFKA_CONSUMER_GROUP=analytics-consumers
KAFKA_CONSUMER_ID=backend-consumer-1
MINI_KAFKA_PORT=9090
MINI_KAFKA_BROKERS=1@localhost:9090,2@localhost:9091,3@localhost:9092
MINI_KAFKA_REPLICATION_FACTOR=3
MINI_KAFKA_PARTITIONS=3
MINI_KAFKA_DATA_DIR=../mini-kafka/data

KAFKA_BATCH_SIZE=100
MINI_KAFKA_BATCH_TIMEOUT_MS=30000
